<%- include('partials/header'); -%>

<h1>Chapter <%= chapter.num %>: <%= chapter.description %></h1>

<h2>Exercises</h2>

<table style="border-spacing: 25px 0">
  <% chapter.programs.forEach(program => { %>
    <tr>
      <td style="text-align: right"><%= program.num %>.</td>
      <td><a href="program/<%= program.name %>/"><code><%= program.name %></code></a></td>
      <td><%= program.status %></td>
      <td><%= program.shortDesc %></td>
    </tr>
  <% }); %>
</table>

<%- include('partials/footer'); -%>
